<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble Login Page</title>
    <link rel="stylesheet" href="../public/main.css" />
  </head>
  <body>

    <header>
      <nav>
        <a href="./homepage.mustache">Gabble</a>
        <p>|</p>
        <a href="./newgab.mustache">Create a new gab</a>
        <p>|</p>
        <a href="./login.mustache">Log in</a>
        <p>|</p>
        <a href="./signup.mustache">Sign up</a>
      </nav>
    </header>
    <h1>Log in</h1>
    <label>Username</label>
    <input type="text" name="user_login" placeholder="Enter your username" />
    <label>Password</label>
    <input type="password" name="user_password" placeholder="Enter your password" />
    <input type="submit" name="login" value="Log in" />

  </body>
</html>
